<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="{{url_for('hdtapi')}}" method="POST">
    <table border="2">
        <tbody>
            <tr >
                <td colspan="2">互动推api接口</td >
            </tr>
            <tr>
                <td>
                    <select name="jobid">
                    <option value="100">互动推-apidisplay</option>
                </select></td>
                <td><input type="submit" value="api测试"></td>
            </tr>
        </tbody>
    </table>
</form>
</body>
</html>